.navbar {
    border-bottom: 5px solid #6bc449;
}
.home-header-text {
    color: #6bc449;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 100px;
}
.home-info {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 450;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button {
    background-color: #6bc449;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    border: 0;
}
.feature-header h1 {
    color: #6bc449;
}
