a{
text-decoration: none;
color: #000;
}
a:hover{
color: rgb(179, 179, 179);
}
.site-header{
border-bottom: 1px solid rgb(255, 205, 205);
padding: .5em 1em;
display: flex;
justify-content: space-between;
background-color: transparent;
}
.site-identity h1 { 
font-size: 1.5em;
margin: .6em 0;
display: inline-block;
}
.site-navigation ul,
.site-navigation li{
margin: 0;
padding: 0;
}
.site-navigation li{
display: inline-block;
margin: 1.4em 1em 1em 1em;
}
h1,p,button,h2{
    text-align: center;
}
button{
    margin: 10px 100px 10px 500px;
}
